.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.section__articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.ArticleCard {
  border: solid black;
  background-color: lightgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 640px){
  .ArticleCard{
    flex-direction: column;
    align-items: center;
  }
}


